@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
body {
  font-family: Titillium Web; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 1550px; }

.main {
  background-color: #87509c;
  padding: 57px 0px 0 0px;
  min-height: 100%; }
  .main__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .main__link {
    display: inline-block;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 0 40px; }
    .main__link_hover {
      text-align: center;
      padding: 7px 0;
      border-radius: 3px;
      width: 77px;
      margin: 0 -15px 0 0; }
      .main__link_hover:hover {
        background-color: #643a79; }
  .main__title {
    padding: 147px 0 0 0;
    text-align: center;
    font-size: 42.2px;
    line-height: 48px;
    font-weight: 700;
    color: #f7f3ea; }
  .main__btn {
    width: 293px;
    position: relative;
    content: '';
    top: 57px;
    left: 363px; }
    .main__btn_org {
      -webkit-box-shadow: 3px 3px 0 0;
      box-shadow: 3px 3px 0 0;
      background-color: #eb7d4b; }

.container {
  max-width: 1034px;
  margin: 0 auto;
  padding: 0 15px; }

.button {
  border-radius: 3px; }
  .button:active {
    margin: 3px 0 0 0; }
  .button a {
    display: block;
    width: 293px;
    height: 70px;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #fff; }

.footer {
  background-color: #344b8e; }
  .footer__body {
    max-width: 940px;
    margin: 0 auto; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 114px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__list a {
    display: inline-block; }
  .footer__link {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    padding: 0 0 0 40px; }
    .footer__link:first-child {
      padding: 0 40px 0 0px; }
    .footer__link:hover {
      color: #30bae7; }
