@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


// Null style
@import "nullstyle.scss";

body{
	font-family: Titillium Web;
}
.wrapper {
	display: flex;
	flex-direction: column;
}
.content {
	flex: 1 1 auto;
	height: 1550px;
}
.main {
	background-color: #87509c;
	padding: 57px 0px 0 0px;
	min-height: 100%;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__logo {}
	&__menu {
	}
	&__list {
	}
	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0 0 0 40px;
		&_hover{
			text-align: center;
			padding: 7px 0;
			border-radius: 3px;
			width: 77px;
			margin: 0 -15px 0 0;
			&:hover{
				background-color: #643a79;
			}
		}

	}
	&__title {
		padding: 147px 0 0 0;
		text-align: center;
		font-size: 42.2px;
		line-height: 48px;
		font-weight: 700;
		color: #f7f3ea;
	}
	&__btn {
		width: 293px;
		position: relative;
		content: '';
		top: 57px;
		left: 363px;
		&_org {
			box-shadow: 3px 3px 0 0 ;
			background-color: #eb7d4b;
		}
	}
}
.container {
	max-width: 1034px;
	margin: 0 auto;
	padding: 0 15px;
}
.button {
	border-radius: 3px;
	&:active{
		margin: 3px 0 0 0;
	}
	& a{
		display: block;
		width: 293px;
		height: 70px;
		text-align: center;
		padding: 20px 0;
		font-size: 18px;
		line-height: 26px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #fff;
	}
}


//FOOTER

.footer {
	background-color: #344b8e;
	&__body {
		max-width: 940px;
		margin: 0 auto;
	}
	&__row {
		display: flex;
		height: 114px;
		justify-content: center;
		align-items: center;
	}
	&__list {
		& a{
			display: inline-block;
		}
	}
	&__link {
		font-size: 24px;
		line-height: 29px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #ffffff;
		padding: 0 0 0 40px;
		&:first-child{
			padding: 0 40px 0 0px;
		}
		&:hover{
			color: #30bae7;
			}
		}
}
