@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


// Null style
@import "nullstyle.scss";

body{
	font-family: Titillium Web;
}
.wrapper {
	display: flex;
	flex-direction: column;

	min-width: 100%;
	overflow: hidden;
}
.content {
	flex: 1 1 auto;
}
.main {
	background-color: #87509c;
	padding: 57px 0px 0 0px;
	height: 596px;
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__logo {}
	&__menu {
	}
	&__list {
	}
	&__link {
		display: inline-block;
		font-size: 16px;
		line-height: 18px;
		text-transform: uppercase;
		color: #ffffff;
		margin: 0 0 0 40px;
		&_hover{
			text-align: center;
			padding: 7px 0;
			border-radius: 3px;
			width: 77px;
			margin: 0 -15px 0 0;
			&:hover{
				background-color: #643a79;
			}
		}

	}
	&__title {
		padding: 147px 0 0 0;
		text-align: center;
		font-size: 42.2px;
		line-height: 48px;
		font-weight: 700;
		color: #f7f3ea;
	}
	&__btn {
		width: 293px;
		position: relative;
		content: '';
		top: 57px;
		left: 363px;
		&_org {
			box-shadow: 3px 3px 0 0 ;
			background-color: #eb7d4b;
		}
	}
}
.container {
	max-width: 1034px;
	margin: 0 auto;
	padding: 0 15px;
}
.button {
	border-radius: 3px;
	&:active{
		margin: 3px 0 0 0;
	}
	& a{
		display: block;
		width: 293px;
		height: 70px;
		text-align: center;
		padding: 20px 0;
		font-size: 18px;
		line-height: 26px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #fff;
	}
}

//SERVICIES

.servicies {
	background-color: #17c2a4;
	padding: 120px 0;
	min-height: 100%;
	&__title {
		text-align: center;
	}
	&__subtitle {}
	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__column {
		flex: 0 1 25%;
	}
@media (max-width: 1171px){
	&__column{
		flex: 0 1 50%;
	}
}
	&__item {
		padding: 78px 0 0 0;
	}
}
.container {
}
.title {
	font-size: 40px;
	line-height: 29px;
	font-weight: 700;
	letter-spacing: 0.1em;
	color: #ffffff;
	&:after{
		content: '';
		display: block;
		height: 4px;
		width: 87px;
		margin: 21px auto;
		opacity: 0.14;
		background-color: #000;
	}
}
.subtitle {
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.02em;
	text-align: center;
	color: #ffffff;
}
.item {
	&__row {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__image {}
	&__title {
		padding: 55px 0 0 0;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
	&__subtitle {
		padding: 27px 0 0 0;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #ffffff;
	}
@media (max-width: 1171px){
	&__subtitle{
		max-width: 300px;
	}
}
}

//TEAM

.team {
	background-color: #e7f1f8;
	min-height: 100%;
	padding: 120px 0;
	&__title {
		text-align: center;
		color: #3c4761;
	}
	&__subtitle {
		color: #3c4761;
	}
	&__row {
		display: flex;
	}
@media (max-width: 1171px){
	&__row{
		flex-direction: column;
		align-items: center;
	}
}
	&__column {
		flex: 0 1 25%;
		display: flex;
	}
	&__card {
		display: flex;
	}
}
.container {
}
.title {
}
.subtitle {
}
.card {
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__image {
		padding: 78px 0 0 0;
	}
	&__name {
		padding: 40px 0 0 0;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #27283d;
	}
	&__tech {
		padding: 15px 0 0 0;
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 0.02em;
		color: #30bae7;
	}
	&__text {
		flex: 1 1 auto;
		padding: 26px 0 0 0 ;
		text-align: center;
		font-size: 16px;
		line-height: 24px;
		font-weight: 300;
		letter-spacing: 0.02em;
		color: #3c4761;
	}
@media (max-width: 1171px){
	&__text{
		max-width: 300px;
	}
}
	&__links {
		padding: 29px 0 0 0;
	}
	&__link {
		padding: 0 5.5px;

	}
}

//SKILLS

.skills {
	padding: 120px 0;
	min-height: 100%;
	&__title {
		color: #3c4761;
		text-align: center;
	}
	&__subtitle {
		color: #3c4761;
		max-width: 579px;
		margin: 0 auto;
	}
	&__body {
	}
	&__row{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__column {
		flex: 0 1 25%;
	}
@media (max-width: 1171px){
	&__column{
		flex: 0 1 50%;
	}
}
	&__item {}
	&__image {
		text-align: center;
		padding: 84px 0 0 0 ;
	}
	&__tech {
		padding: 32px 0 0 0;
		text-align: center;
		font-size: 24px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		color: #3c4761;
	}
}
.container {
}
.title {
}
.subtitle {
}





//FOOTER

.footer {
	background-color: #344b8e;
	&__body {
		max-width: 940px;
		margin: 0 auto;
	}
	&__row {
		display: flex;
		height: 114px;
		justify-content: center;
		align-items: center;
	}
	&__list {
		& a{
			display: inline-block;
		}
	}
	&__link {
		font-size: 24px;
		line-height: 29px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #ffffff;
		padding: 0 0 0 40px;
		&:first-child{
			padding: 0 40px 0 0px;
		}
		&:hover{
			color: #30bae7;
			}
		}
}
